@page "/outstandingorders"
@page "/admin"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@inject IViewOutstandingOrderUseCase viewOutstandingOrder
<h3>Outstanding Orders</h3>
<br />
<OrderListComponent Orders="orders"></OrderListComponent>
@code {
    private IEnumerable<Order> orders;
    protected override void OnInitialized()
    {
        base.OnInitialized();

        orders = viewOutstandingOrder.Execute();
    }
}
